<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/game.ejs %>    
 
    <script>        
            
      function userScriptLoaded() {
        var keyPressedEvent = module.tp$getattr('keyPressedEvent');

        keyPressed (function (keyCode) {
          if ( keyCode == 'LEFT' ) {
            player.moveLeft()
          } 
          if ( keyCode == 'RIGHT' ) {
            player.moveRight()
          } 
          if ( keyCode == 'UP' ) {
            player.moveUp()
          } 
          if ( keyCode == 'DOWN' ) {
            player.moveDown()
          }  

          if(keyPressedEvent) {
            Sk.misceval.callsim(keyPressedEvent, new Sk.builtin.str(keyCode));
          }  
          
        })
        createEmptyMaze()
        addPlayer()
      } 
      
      document.addEventListener('DOMContentLoaded', function() {    
        importPythonGame();
        
        window.otherKeysAllowd = false;
            
        Sk.builtins['getOtherKeysAllowed'] = Sk.builtin.getOtherKeysAllowd = new Sk.builtin.func(function () {
          return window.otherKeysAllowd ? Sk.builtin.bool.true$ : Sk.builtin.bool.false$;
        });

        Sk.builtins['setOtherKeysAllowed'] = Sk.builtin.setOtherKeysAllowd = new Sk.builtin.func(function (val) {
          val = val ? val.v : val;
          window.otherKeysAllowd = val;
          return Sk.builtin.none.none$;
        });

        // Boolean challenge 1
        loadUserScript('/py/ch-3.py')
        
      })    
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
