<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/game.ejs %>    
 
    <script>        
      
      function userScriptLoaded() { 
        endOfTurn (turnTaken)
        setEnergyDefaultEnergy(10)
        setMonsterDefaultDamage(2)        
        createRandomMaze(16,8) 
        energy = 10
      }
      
      document.addEventListener('DOMContentLoaded', function() {    
        importPythonGame();

        loadUserScript('/py/py-1.py')
        
      })    
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
